<div class="friendTable">
  <h2>Friend</h2>
  <table>
    <thead>
      <tr>
        <th>First-name</th>
        <th>Last-name</th>
        <th>Nick-name</th>
        <th>GitHub Pages</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Phuwakorn</td>
        <td>Kaisuan</td>
        <td>Art</td>
        <td>
          <ul>
            <li>
              <a
                href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-phuwakorn11/"
                >Lab02</a
              >
            </li>
            <li>
              <a
                href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-phuwakorn11/"
                >Lab03</a
              >
            </li>
            <li>
              <a
                href="https://camt-mmit.github.io/2023-01-954447-001-lab-04-introduction-to-angular-phuwakorn11/"
                >Lab04</a
              >
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Warodom</td>
        <td>Techafong</td>
        <td>Andrew</td>
        <td>
          <ul>
            <li>
              <a
                href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-andrewii23/"
                >Lab02</a
              >
            </li>
            <li>
              <a
                href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-andrewii23/"
                >Lab03</a
              >
            </li>
            <li>
              <a
                href="https://camt-mmit.github.io/2023-01-954447-001-lab-04-introduction-to-angular-andrewii23/"
                >Lab04</a
              >
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
