<h2>Friend</h2>

<div class="friendTable">
  <table>
    <thead>
      <tr>
        <th>First-name</th>
        <th>Last-name</th>
        <th>Nick-name</th>
        <th>GitHub Pages</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Phuwakorn</td>
        <td>Kaisuan</td>
        <td>Art</td>
        <td>
          <ul>
            <li><a href="#">Lab02</a></li>
            <li><a href="#">Lab03</a></li>
            <li><a href="#">Lab04</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Warodom</td>
        <td>Techafong</td>
        <td>Andrew</td>
        <td>
          <ul>
            <li><a href="#">Lab02</a></li>
            <li><a href="#">Lab03</a></li>
            <li><a href="#">Lab04</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
