<div class="statusTable">
  <h2>Status</h2>
  <table>
    <tr>
      <th>Current Time</th>
      <td>{{ currentTime }}</td>
    </tr>
    <tr>
      <th>User Agent</th>
      <td>{{ userAgent }}</td>
    </tr>
    <tr>
      <th>Languages</th>
      <td>{{ languages }}</td>
    </tr>
    <tr>
      <th>Is Cookie Enagled?</th>
      <td>{{ cookieEnagled }}</td>
    </tr>
    <tr>
      <th>Logical Processors</th>
      <td>{{ logicalProcessors }}</td>
    </tr>
    <tr>
      <th>Max Touch Points</th>
      <td>{{ maxTouchPoints }}</td>
    </tr>
  </table>
</div>
