<header>
  <h1>{{ title }}</h1>
  <nav>
    <a routerLink="./hello-world" routerLinkActive="st-active"
      ><span class="material-symbols-outlined"> public </span>
      Hello World
    </a>
    <a routerLink="./profile" routerLinkActive="st-active">
      <span class="material-symbols-outlined"> account_circle </span>
      Profile
    </a>
    <a routerLink="./friend" routerLinkActive="st-active">
      <span class="material-symbols-outlined"> group </span>
      Friend
    </a>
    <a routerLink="./status" routerLinkActive="st-active">
      <span class="material-symbols-outlined"> monitoring </span>
      Status
    </a>
  </nav>
</header>

<router-outlet></router-outlet>
